<header class="landing-header">
    <div class="header-nav">
        <img src="images/logo-conectared.png" alt="Logo ConectaRed" class="logo" />
        <span class="logo-text"
            >Conecta<span class="logo-highlight">Red</span></span
        >
    </div>

    <nav class="header-nav">
        <a href="index.html" class="nav-link">Inicio</a>
        <a href="#" class="nav-link">Mentores</a>
        <a href="#" class="nav-link">Recursos</a>
        <a href="#" class="nav-link">Comunidad</a>
        <a href="#" class="nav-link unete-btn">Únete</a>
    </nav>

    
</header>
